<div class="b-benefits b-benefits--2">
    <h2>Как сделать заказ?</h2>
    <div class="benefits__items">
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-1.svg" alt="">
            </div>
            <h3>Бесплатный выезд замерщика</h3>
            <p>Первый и неотъемлемый этап нашей работы — бесплатный выезд замерщика. На основе полученных данных, обсудив ваши пожелания, мы сможем предварительно рассчитать стоимость работы.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-6.svg" alt="">
            </div>
            <h3>Направить заявку</h3>
            <p>Направить свою заявку вы можете как по телефону, <a href="tel:+74812670-370">(4812) 670-370 </a>или <a href="tel:+79529960444">+7 952 996-04-44</a>, и так с помощью формы расчет стоимости. Мы будем рады проконсультировать вас по возникшим вопросам.</p>
        </div>
    </div>
</div>