<div class="b-benefits b-benefits--3">
    <h2>Почему натяжной потолок?</h2>
    <div class="benefits__items">
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-1.svg" alt="">
            </div>
            <h3>Любой дизайн</h3>
            <p>Возможность воплотить в реальность любую дизайнерскую задумку. Возможность установки многоуровневых конструкций.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-2.svg" alt="">
            </div>
            <h3>Универсальность</h3>
            <p>Установка натяжных потолков может проводиться в помещении любой конфигурации и любого назначения.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-3.svg" alt="">
            </div>
            <h3>Экологичность</h3>
            <p>Пленка ПВХ является экологичным материалом, который не выделяетё никаких токсинов, аллергенов, вредных веществ.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-4.svg" alt="">
            </div>
            <h3>Прочность и долговечность</h3>
            <p>В течение многих лет будет сохранять свои первоначальные характеристики — форму, цвет, упругость.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-5.svg" alt="">
            </div>
            <h3>Монтаж в кратчайшие сроки</h3>
            <p>После прихода мастеров, ваша комната преобразится. При этом процесс установки потолков не сопровождается появлением пыли, грязи.</p>
        </div>
    </div>
</div>