<div class="b-benefits b-benefits--3">
    <h2>Преимущества работы с нами?</h2>
    <div class="benefits__items">
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-7.svg" alt="">
            </div>
            <h3>Качество и надежность</h3>
            <p>Мы используем как отечественные, так и импортные материалы.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-8.svg" alt="">
            </div>
            <h3>Богатый ассортимент</h3>
            <p>Полотна на любой вкус и кошелек.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-9.svg" alt="">
            </div>
            <h3>Инновационные технологии</h3>
            <p>Используем самое современное импортное оборудование.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-10.svg" alt="">
            </div>
            <h3>Демократичные цены</h3>
            <p>У нас одни из самых демократичных цен в области.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-11.svg" alt="">
            </div>
            <h3>Удобное время работ</h3>
            <p>Возможно проведение работ как днем, так и ночью.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-12.svg" alt="">
            </div>
            <h3>Оперативное выполнение</h3>
            <p>Сделаем все быстро, качественно и в оговоренный срок.</p>
        </div>
    </div>
    <div class="benefits__btn">
        <a class="b-button b-button--white" href="#">Подробнее о компании</a>
    </div>
</div>