<div class="b-detail">
    <div class="detail__wrap">
        <div class="detail__header">
            <h1>Натяжные потолки в стиле Лофт</h1>
            <p>Универсальный натяжной потолок в стиле лофт хорошо сочетается практически со всеми современными материалами. Стильный элемент, отличающийся простотой, оригинальностью и надежностью, эффектно дополнит интерьер любого помещения.</p>
        </div>
        <div class="detail__gallery">Галерея</div>
        <div class="detail__content">
            <h2>Натяжной потолок в стиле лофт: изысканный минимализм</h2>
            <p>Для создания интерьера в экстравагантном и брутальном стиле нужно грамотно подобрать отделочные материалы, которые выгодно подчеркнут уникальную геометрию помещения. Качественный натяжной потолок в стиле лофт гармонично впишется в любой дизайнерский проект, увеличивая пространство и создавая ощущение свободы.</p>
            <p>При помощи натяжного потолка в стиле лофт поверхность легко можно декорировать под бетон, дерево, кирпич или металл. Глянцевое покрытие визуально расширяет помещение, а матовое не будет отвлекать внимание от стен. На поверхности можно разместить разнообразные осветительные приборы и декоративные элементы.</p>
            <p>Для ухода за потолком не нужно использовать специальные средства, а ремонт поврежденной конструкции силами профессионалов не потребует больших временных затрат.</p>
        </div>
    </div>
    <div class="detail__col">
        //= form-callback-ver.html
    </div>
</div>