<div class="swiper-container swiper-container-detail js-swiper-detail">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <picture>
                <source srcset="./img/details-pic.webp" type="image/webp">
                <source srcset="./img/details-pic.jpg" type="image/jpeg">
                <img class="swiper-lazy" src="./img/details-pic.jpg" alt="">
            </picture>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-yellow"></div>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="./img/details-pic.webp" type="image/webp">
                <source srcset="./img/details-pic.jpg" type="image/jpeg">
                <img class="swiper-lazy" src="./img/details-pic.jpg" alt="">
            </picture>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-yellow"></div>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="./img/details-pic.webp" type="image/webp">
                <source srcset="./img/details-pic.jpg" type="image/jpeg">
                <img class="swiper-lazy" src="./img/details-pic.jpg" alt="">
            </picture>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-yellow"></div>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="./img/details-pic.webp" type="image/webp">
                <source srcset="./img/details-pic.jpg" type="image/jpeg">
                <img class="swiper-lazy" src="./img/details-pic.jpg" alt="">
            </picture>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-yellow"></div>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="./img/details-pic.webp" type="image/webp">
                <source srcset="./img/details-pic.jpg" type="image/jpeg">
                <img class="swiper-lazy" src="./img/details-pic.jpg" alt="">
            </picture>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-yellow"></div>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="./img/details-pic.webp" type="image/webp">
                <source srcset="./img/details-pic.jpg" type="image/jpeg">
                <img class="swiper-lazy" src="./img/details-pic.jpg" alt="">
            </picture>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-yellow"></div>
        </div>
    </div>
    <div class="swiper-controls">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>