<section class="l-footer">
    <div class="b-footer">
        <div class="footer__col">
            <div class="footer__col">
                <div class="b-foot-contacts">
                    <h3>Контакты</h3>
                    <p>г. Смоленск, ул. Кирова, д. 59</p>
                    <p>
                        <a href="tel:84812670370">8 (4812) 670-370</a> <br>
                        <a href="tel:89529960444">8 (952) 996-0444</a>
                    </p>
                    <p><a href="mailto:info@otrazhenie67.ru">info@otrazhenie67.ru</a></p>
                </div>
            </div>
            <div class="footer__col">
                <div class="b-foot-contacts">
                    <h3>Режим работы</h3>
                    <p>
                        В будние дни: 10.00—19.00 <br>
                        Суббота: 10.00—15.00 <br>
                        Воскресенье: выходной
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__col">
                <nav class="b-foot-menu">
                    <h3>Покупателям</h3>
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Виды потолков</a></li>
                        <li><a href="#">Акции %</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col">
                <nav class="b-foot-menu">
                    <h3>Мы в соцсетях</h3>
                    <ul>
                        <li><a href="#">Вконтакте</a></li>
                        <li><a href="#">Telegram</a></li>
                        <li><a href="#">WhatsApp</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="b-footer-line">
        <p>&copy; 2021 Отражение. Натяжные потолки. Все права защищены.</p>
        <a href="#">Политика конфиденциальности</a>
    </div>
</section>