<form class="b-callback-form b-callback-form--map">
    <div class="callback-form__col callback-form__content">
        <div class="callback-form__title">Расчет стоимости</div>
        <div class="callback-form__line">
            <label>Площадь потолка</label>
            <input type="text" name="" id="" value="18">
            <span>М<sup>2</sup></span>
        </div>
        <div class="callback-form__line">
            <label>Точек освещения</label>
            <input type="text" name="" id="" value="4">
            <span>Шт.</span>
        </div>
        <div class="callback-form__line callback-form__line--cost">
            <label>Цена за М<sup>2</sup></label>
            <ins>от 100 ₽</ins>
        </div>
    </div>
    <div class="callback-form__col callback-form__form">
        <div class="callback-form__form">
            <div class="callback-form__line">
                <input type="phone" name="" id="" placeholder="Ваш телефон">
            </div>
            <div class="callback-form__line">
                <input type="text" name="" id="" placeholder="Ваше Имя">
            </div>
            <div class="callback-form__line">
                <button class="b-button b-button--yellow" type="submit">Отправить заявку</button>
            </div>
            <div class="callback-form__line callback-form__line--agree">Нажимая на кнопку, Вы даете согласие на обработку своих персональных данных</div>
        </div>
        <div class="callback-form__message" style="display: none;">
            <img src="./img/cool.svg" alt="">
            <div class="callback-form__title">Спасибо что выбрали нас! :)</div>
            <p>В самое ближайшее время с Вами свяжется наш очень вежливый менеджер и уточнит детали.</p>
        </div>
    </div>
</form>