<section class="l-header l-header--main">
    <div class="b-header js-menu">
        <div class="header__sandwich">
            <div class="b-head-menu-btn js-menu-btn"><span></span></div>
        </div>
        <div class="header__logo"><a href="/"><img src="./img/reflection-logo.png" alt=""></a></div>
        <div class="header__contacts">
            <a href="tel:+74812670370">(4812) 670-370</a>
            <span>/</span>
            <a href="tel:+79529960444">+7 952 996-04-44</a>
        </div>
        <div class="header__social">
            <a target="_blank" rel="nofollow" href="#"><img src="./img/social-icon-vk.svg" alt=""></a>
            <a target="_blank" rel="nofollow" href="#"><img src="./img/social-icon-telegram.svg" alt=""></a>
            <a target="_blank" rel="nofollow" href="#"><img src="./img/social-icon-whatsup.svg" alt=""></a>
        </div>
        <div class="header__menu js-menu-block">

            //= header-menu.html
            
            <div class="header__menu-block">
                <div class="header__contacts">
                    <a href="tel:+74812670370">(4812) 670-370</a>
                    <span>/</span>
                    <a href="tel:+79529960444">+7 952 996-04-44</a>
                </div>
                <div class="header__social">
                    <a target="_blank" rel="nofollow" href="#"><img src="./img/social-icon-vk-b.svg" alt=""></a>
                    <a target="_blank" rel="nofollow" href="#"><img src="./img/social-icon-telegram-b.svg" alt=""></a>
                    <a target="_blank" rel="nofollow" href="#"><img src="./img/social-icon-whatsup-b.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="b-promo">
        <div class="promo__wrap">
            <p class="promo__adress"><img src="./img/map-pin.svg" alt=""> г. Смоленск, ул. Кирова, д. 59</p>
            <h1>Натяжные потолки</h1>
            <p>Компания “Отражение” предоставляет высокопрофессиональные услуги по установке и обслуживанию натяжных потолков в Смоленске и Смоленской области с 2008 года.</p>
            <p class="promo__btn"><a class="b-button b-button--yellow" href="#">Рассчитать стоимость</a></p>
        </div>
    </div>
</section>
<section class="l-carousel">
    <div class="carousel__wrap">
        //= main-carousel.html
    </div>
</section>