<section class="l-header">
    <div class="b-header">
        Header
    </div>
    <div class="b-promo">
        <div class="promo__wrap">
            <p class="promo__adress"><img src="./img/map-pin.svg" alt=""> г. Смоленск, ул. Кирова, д. 59</p>
            <h1>Натяжные потолки</h1>
            <p>Компания “Отражение” предоставляет высокопрофессиональные услуги по установке и обслуживанию натяжных потолков в Смоленске и Смоленской области с 2008 года.</p>
            <p class="promo__btn"><a class="b-button b-button--yellow" href="#">Рассчитать стоимость</a></p>
        </div>
    </div>
    <div class="b-sale-carousel">
        Акции
    </div>
</section>