<div class="b-slider">
    <h2>Виды потолков</h2>
    <div class="swiper-container swiper-container-main js-swiper-main">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider__inner">
                    <div class="slider__pic" data-swiper-parallax="50%">
                        <picture>
                            <source srcset="./img/main-slider-1.webp" type="image/webp">
                            <source srcset="./img/main-slider-1.jpg" type="image/jpeg">
                            <img class="swiper-lazy" src="./img/main-slider-1.jpg" alt="">
                        </picture>
                    </div>
                    <div class="slider__content">
                        <div class="slider__title" data-swiper-parallax="300">Натяжные потолки в стиле Лофт</div>
                        <div class="slider__price" data-swiper-parallax="300">от 100 ₽/м<sup>2</sup></div>
                        <div class="slider__btns" data-swiper-parallax="300">
                            <a class="b-button b-button--yellow" href="#">Заказать потолок</a>
                            <a class="b-button b-button--white" href="#">Все потолки</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider__inner">
                    <div class="slider__pic" data-swiper-parallax="50%">
                        <picture>
                            <source srcset="./img/main-slider-2.webp" type="image/webp">
                            <source srcset="./img/main-slider-2.jpg" type="image/jpeg">
                            <img class="swiper-lazy" src="./img/main-slider-2.jpg" alt="">
                        </picture>
                    </div>
                    <div class="slider__content">
                        <div class="slider__title" data-swiper-parallax="300">Глянцевый натяжной потолок в ванную комнату 5 кв.м</div>
                        <div class="slider__price" data-swiper-parallax="300">от 100 ₽/м<sup>2</sup></div>
                        <div class="slider__btns" data-swiper-parallax="300">
                            <a class="b-button b-button--yellow" href="#">Заказать потолок</a>
                            <a class="b-button b-button--white" href="#">Все потолки</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider__inner">
                    <div class="slider__pic" data-swiper-parallax="50%">
                        <picture>
                            <source srcset="./img/main-slider-1.webp" type="image/webp">
                            <source srcset="./img/main-slider-1.jpg" type="image/jpeg">
                            <img class="swiper-lazy" src="./img/main-slider-1.jpg" alt="">
                        </picture>
                    </div>
                    <div class="slider__content">
                        <div class="slider__title" data-swiper-parallax="300">Натяжные потолки в стиле Лофт</div>
                        <div class="slider__price" data-swiper-parallax="300">от 100 ₽/м<sup>2</sup></div>
                        <div class="slider__btns" data-swiper-parallax="300">
                            <a class="b-button b-button--yellow" href="#">Заказать потолок</a>
                            <a class="b-button b-button--white" href="#">Все потолки</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider__inner">
                    <div class="slider__pic" data-swiper-parallax="50%">
                        <picture>
                            <source srcset="./img/main-slider-2.webp" type="image/webp">
                            <source srcset="./img/main-slider-2.jpg" type="image/jpeg">
                            <img class="swiper-lazy" src="./img/main-slider-2.jpg" alt="">
                        </picture>
                    </div>
                    <div class="slider__content">
                        <div class="slider__title" data-swiper-parallax="300">Глянцевый натяжной потолок в ванную комнату 5 кв.м</div>
                        <div class="slider__price" data-swiper-parallax="300">от 100 ₽/м<sup>2</sup></div>
                        <div class="slider__btns" data-swiper-parallax="300">
                            <a class="b-button b-button--yellow" href="#">Заказать потолок</a>
                            <a class="b-button b-button--white" href="#">Все потолки</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-controls">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>