<div class="b-sale-carousel">
    <div class="swiper-container swiper-container-sale js-swiper-sale">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="sale-carousel__content">
                    <p><a href="#">На потолки с фотопечатью</a></p>
                    <p><span>Cкидка – 30%</span></p>
                </div>
                <picture class="sale-carousel__pic">
                    <source srcset="./img/sale-pic-1.webp" type="image/webp">
                    <source srcset="./img/sale-pic-1.jpg" type="image/jpeg">
                    <img class="swiper-lazy" src="./img/sale-pic-1.jpg" alt="">
                </picture>
            </div>
            <div class="swiper-slide">
                <div class="sale-carousel__content">
                    <p><a href="#">Скидка для новосёлов</a></p>
                    <p><span>– 10%</span></p>
                </div>
                <picture class="sale-carousel__pic">
                    <source srcset="./img/sale-pic-2.webp" type="image/webp">
                    <source srcset="./img/sale-pic-2.jpg" type="image/jpeg">
                    <img class="swiper-lazy" src="./img/sale-pic-2.jpg" alt="">
                </picture>
            </div>
            <div class="swiper-slide">
                <div class="sale-carousel__content">
                    <p><a href="#">Выезд на замер</a></p>
                    <p><span>Бесплатно</span></p>
                </div>
                <picture class="sale-carousel__pic">
                    <source srcset="./img/sale-pic-3.webp" type="image/webp">
                    <source srcset="./img/sale-pic-3.jpg" type="image/jpeg">
                    <img class="swiper-lazy" src="./img/sale-pic-3.jpg" alt="">
                </picture>
            </div>
            <div class="swiper-slide">
                <div class="sale-carousel__content">
                    <p><a href="#">Посетителям сайта</a></p>
                    <p><span>Скидка – 5%</span></p>
                </div>
                <picture class="sale-carousel__pic">
                    <source srcset="./img/sale-pic-4.webp" type="image/webp">
                    <source srcset="./img/sale-pic-4.jpg" type="image/jpeg">
                    <img class="swiper-lazy" src="./img/sale-pic-4.jpg" alt="">
                </picture>
            </div>
        </div>
    </div>
</div>