<div class="b-items b-items--news b-items--3">
    <div class="items__items">
        <div class="items__item">
            <div class="items__pic">
                <a href="detail.html">
                    <pictire>
                        <source srcset="./img/news-pic-1.webp" type="image/webp">
                        <source srcset="./img/news-pic-1.jpg" type="image/jpeg">
                        <img src="./img/news-pic-1.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="detail.html">Резные натяжные потолки Apply (3D)</a></div>
            <div class="items__desc">
                <p>Специально для тех, кто любит действительно необычные решения для своего интерьера — резные потолки APPLY!</p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="detail.html">
                    <pictire>
                        <source srcset="./img/news-pic-2.webp" type="image/webp">
                        <source srcset="./img/news-pic-2.jpg" type="image/jpeg">
                        <img src="./img/news-pic-2.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="detail.html">Экологические потолки Evolution</a></div>
            <div class="items__desc">
                <p>Данный новый продукт лучше, чем все известные на рынке аналоги. Поэтому наши мастера рекомендуют именно его.</p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="detail.html">
                    <pictire>
                        <source srcset="./img/news-pic-3.webp" type="image/webp">
                        <source srcset="./img/news-pic-3.jpg" type="image/jpeg">
                        <img src="./img/news-pic-3.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="detail.html">Резные натяжные потолки APPLY (3D)</a></div>
            <div class="items__desc">
                <p>Специально для тех, кто любит действительно необычные решения для своего интерьера — резные потолки APPLY!</p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="detail.html">
                    <pictire>
                        <source srcset="./img/news-pic-4.webp" type="image/webp">
                        <source srcset="./img/news-pic-4.jpg" type="image/jpeg">
                        <img src="./img/news-pic-4.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="detail.html">Резные натяжные потолки APPLY (3D)</a></div>
            <div class="items__desc">
                <p>Специально для тех, кто любит действительно необычные решения для своего интерьера — резные потолки APPLY!</p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="detail.html">
                    <pictire>
                        <source srcset="./img/news-pic-5.webp" type="image/webp">
                        <source srcset="./img/news-pic-5.jpg" type="image/jpeg">
                        <img src="./img/news-pic-5.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="detail.html">Резные натяжные потолки APPLY (3D)</a></div>
            <div class="items__desc">
                <p>Специально для тех, кто любит действительно необычные решения для своего интерьера — резные потолки APPLY!</p>
            </div>
        </div>
    </div>
</div>
