<div class="b-items b-items--news b-items--3">
    <div class="items__items">
        <div class="items__item">
            <div class="items__pic">
                <a href="#">
                    <pictire>
                        <source srcset="./img/catalog-pic-1.webp" type="image/webp">
                        <source srcset="./img/catalog-pic-1.jpg" type="image/jpeg">
                        <img src="./img/catalog-pic-1.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="#">Резные натяжные потолки Apply (3D)</a></div>
            <div class="items__desc">
                <p>Специально для тех, кто любит действительно необычные решения для своего интерьера — резные потолки APPLY!</p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="#">
                    <pictire>
                        <source srcset="./img/catalog-pic-2.webp" type="image/webp">
                        <source srcset="./img/catalog-pic-2.jpg" type="image/jpeg">
                        <img src="./img/catalog-pic-2.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="#">Экологические потолки Evolution</a></div>
            <div class="items__desc">
                <p>Данный новый продукт лучше, чем все известные на рынке аналоги. Поэтому наши мастера рекомендуют именно его.</p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="#">
                    <pictire>
                        <source srcset="./img/catalog-pic-3.webp" type="image/webp">
                        <source srcset="./img/catalog-pic-3.jpg" type="image/jpeg">
                        <img src="./img/catalog-pic-3.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="#">Резные натяжные потолки APPLY (3D)</a></div>
            <div class="items__desc">
                <p>Специально для тех, кто любит действительно необычные решения для своего интерьера — резные потолки APPLY!</p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="#">
                    <pictire>
                        <source srcset="./img/catalog-pic-4.webp" type="image/webp">
                        <source srcset="./img/catalog-pic-4.jpg" type="image/jpeg">
                        <img src="./img/catalog-pic-4.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="#">Резные натяжные потолки APPLY (3D)</a></div>
            <div class="items__desc">
                <p>Специально для тех, кто любит действительно необычные решения для своего интерьера — резные потолки APPLY!</p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="#">
                    <pictire>
                        <source srcset="./img/catalog-pic-5.webp" type="image/webp">
                        <source srcset="./img/catalog-pic-5.jpg" type="image/jpeg">
                        <img src="./img/catalog-pic-5.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="#">Резные натяжные потолки APPLY (3D)</a></div>
            <div class="items__desc">
                <p>Специально для тех, кто любит действительно необычные решения для своего интерьера — резные потолки APPLY!</p>
            </div>
        </div>
    </div>
</div>

<div class="b-benefits b-benefits--3">
    <h2>Почему натяжной потолок?</h2>
    <div class="benefits__items">
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-1.svg" alt="">
            </div>
            <h3>Любой дизайн</h3>
            <p>Возможность воплотить в реальность любую дизайнерскую задумку. Возможность установки многоуровневых конструкций.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-2.svg" alt="">
            </div>
            <h3>Универсальность</h3>
            <p>Установка натяжных потолков может проводиться в помещении любой конфигурации и любого назначения.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-3.svg" alt="">
            </div>
            <h3>Экологичность</h3>
            <p>Пленка ПВХ является экологичным материалом, который не выделяетё никаких токсинов, аллергенов, вредных веществ.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-4.svg" alt="">
            </div>
            <h3>Прочность и долговечность</h3>
            <p>В течение многих лет будет сохранять свои первоначальные характеристики — форму, цвет, упругость.</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon">
                <img src="./img/benefits-icon-5.svg" alt="">
            </div>
            <h3>Монтаж в кратчайшие сроки</h3>
            <p>После прихода мастеров, ваша комната преобразится. При этом процесс установки потолков не сопровождается появлением пыли, грязи.</p>
        </div>
    </div>
</div>