<div class="b-items b-items--sale b-items--1">
    <div class="items__items">
        <div class="items__item">
            <div class="items__pic">
                <a href="#">
                    <pictire>
                        <source srcset="./img/sale-pic-1.webp" type="image/webp">
                        <source srcset="./img/sale-pic-1.jpg" type="image/jpeg">
                        <img src="./img/sale-pic-1.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="#">Посетителям сайта скидка -5%</a></div>
            <div class="items__desc">
                <p>Специально для тех, кто любит действительно необычные решения для своего интерьера — резные потолки APPLY!</p>
                <div class="items__more"><a href="#">Подробнее</a></div>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="#">
                    <pictire>
                        <source srcset="./img/sale-pic-2.webp" type="image/webp">
                        <source srcset="./img/sale-pic-2.jpg" type="image/jpeg">
                        <img src="./img/sale-pic-2.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="#">Натяжные потолки в современном стиле</a></div>
            <div class="items__desc">
                <p>Стиль и высокое качество</p>
                <div class="items__more"><a href="#">Подробнее</a></div>
            </div>
        </div>
        <div class="items__item">
            <div class="items__pic">
                <a href="#">
                    <pictire>
                        <source srcset="./img/sale-pic-3.webp" type="image/webp">
                        <source srcset="./img/sale-pic-3.jpg" type="image/jpeg">
                        <img src="./img/sale-pic-3.jpg" alt="title here">
                    </pictire>
                </a>
            </div>
            <div class="items__title"><a href="#">Натяжные потолки в стиле Неоклассика</a></div>
            <div class="items__desc">
                <p>Благородство декора</p>
                <div class="items__more"><a href="#">Подробнее</a></div>
            </div>
        </div>
    </div>
</div>
