@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewMedium-Obl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Futura New Demi';
    src: url('../fonts/FuturaNewDemi-Obl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewMedium-Reg.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewHeavy-Reg.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewLight-Obl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewExtraBold-Obl.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewBook-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewBold-Obl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewExtraBold-Reg.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewLight-Reg.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New Demi';
    src: url('../fonts/FuturaNewDemi-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewBold-Reg.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewHeavy-Obl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

