$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;

$font-family: 'Futura New', sans-serif;
$font-family-ruble: 'ALSRubl', sans-serif;

$color-black: #000000; 
$color-white: #ffffff; 
$color-yellow: #f6ed08;
$color-lightgray: #f6f6f6;
$color-lightgray-text: #c1c1c1;
$color-gray: #e5e5e5;
$color-red: #f60811;