$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;

$font-family: 'Futura New', sans-serif;

$color-black: #000000; 
$color-white: #ffffff; 
$color-yellow: #f6ed08;