.swiper-container-detail {
    .swiper-slide {
        img {
            border-radius: 5px;
            max-width: 100%;
        }
    }
    .swiper-controls {
        padding-top: 3rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        position: static;
    }
    .swiper-button-next,
    .swiper-button-prev {
        margin-top: 0;
        width: auto;
        height: auto;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: block;
        font-size: inherit;
        width: 4.6rem;
        height: 1.6rem;
    }
    .swiper-button-next::after {
        content: url("data:image/svg+xml;charset=UTF-8,<svg width='46' height='16' viewBox='0 0 46 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.19249e-08 8C1.85108e-08 7.44772 0.447715 7 1 7L45 7C45.5523 7 46 7.44772 46 8C46 8.55228 45.5523 9 45 9L1 9C0.447715 9 5.33895e-09 8.55228 1.19249e-08 8Z' fill='black' /><path fill-rule='evenodd' clip-rule='evenodd' d='M37.2929 15.7071C36.9024 15.3166 36.9024 14.6834 37.2929 14.2929L43.5858 8L37.2929 1.70711C36.9024 1.31658 36.9024 0.683417 37.2929 0.292893C37.6834 -0.0976314 38.3166 -0.0976314 38.7071 0.292893L45.7071 7.29289C46.0976 7.68342 46.0976 8.31658 45.7071 8.70711L38.7071 15.7071C38.3166 16.0976 37.6834 16.0976 37.2929 15.7071Z' fill='black' /></svg>");
    }
    .swiper-button-prev::after {
        content: url("data:image/svg+xml;charset=UTF-8,<svg width='46' height='16' viewBox='0 0 46 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M46 8C46 8.55228 45.5523 9 45 9L1 9C0.447716 9 -6.78526e-08 8.55228 -4.37115e-08 8C-1.95703e-08 7.44771 0.447716 7 1 7L45 7C45.5523 7 46 7.44772 46 8Z' fill='black' /><path fill-rule='evenodd' clip-rule='evenodd' d='M8.70711 0.292893C9.09763 0.683418 9.09763 1.31658 8.70711 1.70711L2.41421 8L8.70711 14.2929C9.09763 14.6834 9.09763 15.3166 8.70711 15.7071C8.31658 16.0976 7.68342 16.0976 7.29289 15.7071L0.292893 8.70711C-0.0976318 8.31658 -0.0976318 7.68342 0.292893 7.29289L7.29289 0.292893C7.68342 -0.0976312 8.31658 -0.0976311 8.70711 0.292893Z' fill='black' /></svg>");
    }
    .swiper-button-next:hover::after {
        content: url("data:image/svg+xml;charset=UTF-8,<svg width='46' height='16' viewBox='0 0 46 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.19249e-08 8C1.85108e-08 7.44772 0.447715 7 1 7L45 7C45.5523 7 46 7.44772 46 8C46 8.55228 45.5523 9 45 9L1 9C0.447715 9 5.33895e-09 8.55228 1.19249e-08 8Z' fill='rgb(246, 237, 8)' /><path fill-rule='evenodd' clip-rule='evenodd' d='M37.2929 15.7071C36.9024 15.3166 36.9024 14.6834 37.2929 14.2929L43.5858 8L37.2929 1.70711C36.9024 1.31658 36.9024 0.683417 37.2929 0.292893C37.6834 -0.0976314 38.3166 -0.0976314 38.7071 0.292893L45.7071 7.29289C46.0976 7.68342 46.0976 8.31658 45.7071 8.70711L38.7071 15.7071C38.3166 16.0976 37.6834 16.0976 37.2929 15.7071Z' fill='rgb(246, 237, 8)' /></svg>");
    }
    .swiper-button-prev:hover::after {
        content: url("data:image/svg+xml;charset=UTF-8,<svg width='46' height='16' viewBox='0 0 46 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M46 8C46 8.55228 45.5523 9 45 9L1 9C0.447716 9 -6.78526e-08 8.55228 -4.37115e-08 8C-1.95703e-08 7.44771 0.447716 7 1 7L45 7C45.5523 7 46 7.44772 46 8Z' fill='rgb(246, 237, 8)' /><path fill-rule='evenodd' clip-rule='evenodd' d='M8.70711 0.292893C9.09763 0.683418 9.09763 1.31658 8.70711 1.70711L2.41421 8L8.70711 14.2929C9.09763 14.6834 9.09763 15.3166 8.70711 15.7071C8.31658 16.0976 7.68342 16.0976 7.29289 15.7071L0.292893 8.70711C-0.0976318 8.31658 -0.0976318 7.68342 0.292893 7.29289L7.29289 0.292893C7.68342 -0.0976312 8.31658 -0.0976311 8.70711 0.292893Z' fill='rgb(246, 237, 8)' /></svg>");
    }
    .swiper-pagination {
        width: auto;
        font-size: 2.2rem;
        color: $color-lightgray-text;
    }
    .swiper-pagination-current {
        font-weight: bold;
        color: $color-black;
    }
    .swiper-lazy-preloader-yellow {
        border-color: $color-yellow;
    }
}