.l-footer {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $color-black;
    color: $color-white;

    @media (min-width: $breakpoint-tablet) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    h1, h2, h3, h4 {
        color: $color-white;
    }
    a, a:hover {
        color: $color-white;
        text-decoration: none;
    }
    a:hover {
        color: $color-yellow;
    }
}
/*----------*/
.b-footer {
    margin: auto;
    padding-top: 5rem;
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    color: $color-white;

    @media (min-width: $breakpoint-tablet) {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    .footer__col {
        width: 100%;

        @media (min-width: $breakpoint-desktop) {
            display: flex;
            flex-flow: row wrap;
            width: 50%;
            flex: none;
        }

    }
    .footer__col > .footer__col {
        padding-bottom: 5rem;
        display: block;

        @media (min-width: $breakpoint-tablet) {
            &:last-child {
                padding-bottom: 0;
            }

        }

        @media (min-width: $breakpoint-desktop) {
            padding-bottom: 0;
        }
    }

    & > .footer__col {
        width: 100%;

        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }
    }
}
/*----------*/
.b-footer-line {
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    line-height: 1.2;
    font-size: 1.5rem;

    @media (min-width: $breakpoint-tablet) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    p {
        padding-bottom: 0.5rem;

        @media (min-width: $breakpoint-tablet) {
            padding-bottom: 0;
        }
    } 

}
/*----------*/
.b-foot-contacts {
    p {
        margin-bottom: 2.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
/*----------*/
.b-foot-menu {
    li {
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
/*----------*/