.b-filter {
    margin: 0 -2rem 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1280px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: auto;

    @media (min-width: $breakpoint-tablet) {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        padding: 0.5rem 1rem;
        border: 1px solid $color-white;
        border-radius: 3px;
        display: block;
        text-decoration: none;
        line-height: 1;
        font-size: 1.8rem;
        color: $color-white;
        transition-property: color, background-color, border-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        white-space: nowrap;

        &.active,
        &.active:hover {
            background-color: $color-yellow;
            border-color: $color-yellow;
            color: $color-black;
        }

       
    }
    a:hover {
        text-decoration: none;
        border-color: $color-yellow;
        color: $color-yellow;
    }
    .filter__item {
        padding-right: 1.5rem;
    }
}