.b-head-menu {
    padding-left: 2rem;
    padding-right: 2rem;

    @media (min-width: $breakpoint-desktop) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @media (min-width: $breakpoint-desktop) {
        padding-left: 0;
        padding-right: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        display: flex !important;
        flex-flow: row nowrap;
    }

    a {
        padding: 1.5rem 2rem;
        border-bottom: 1px solid $color-lightgray;
        display: block;
        text-decoration: none;
        line-height: 1;
        text-align: center;
        font-weight: 500;
        font-size: 1.6rem;
        color: $color-black;
        width: 100%;

        @media (min-width: $breakpoint-desktop) {
            border-bottom: 0;
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            flex: 1 auto;
            width: auto;
            font-size: inherit;
            color: $color-white;

            &:first-child {
                border-left: 0;
            }
        }

    }
    a:hover,
    a.active {
        text-decoration: none;
        color: $color-yellow;
    }
}
/*----------*/
.b-head-menu-btn {
    border-radius: 4px 0 0 4px;
    width: 65px;
    height: 100%;
    position: relative;
    background-color: $color-yellow;

    span {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-10px, -1px);
        height: 2px;
        width: 20px;
        background-color: $color-black;
        transition: background-color 0.3s ease-in-out;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            height: 2px;
            width: 20px;
            background-color: $color-black;
            transition: transform 0.3s ease-in-out;
        }
        &::before {
            transform: translate(-10px, -8px);
        }
        &::after {
            transform: translate(-10px, 6px);
        }

    }
    &.active span {
        background-color: transparent;

        &::before {
            transform: translate(-10px, 0) rotate(-135deg);
        }
        &::after {
            transform: translate(-10px, 0) rotate(135deg);
        }
    }
}