.l-header {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 7rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url('../img/head-bg.jpg') 50% 0 no-repeat;

    @media (min-width: $breakpoint-tablet) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @media (min-width: $breakpoint-desktop) {
    }
}
/*---------*/
.b-promo {
    margin: auto;
    padding-top: 7rem;
    padding-bottom: 7rem;
    max-width: 1280px;
    color: $color-white;

    h1, h2, h3, h5 {
        margin-bottom: 0.3em;
        color: $color-white;
    }

    .promo__wrap {
        max-width: 630px;
    }
    .promo__btn {
        padding-top: 3rem;
    }
    .promo__adress {
        margin-bottom: 2rem;
    }
}
/*---------*/