.b-sale-carousel {
    position: relative;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
    }
    @media (min-width: $breakpoint-desktop) {
    }

    .sale-carousel__content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        position: absolute;
        left: 55%;
        width: 45%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.8rem;
        line-height: 1;

        @media (min-width: $breakpoint-tablet) {
            font-size: 3.4rem;
        }
        @media (min-width: $breakpoint-desktop) {
            left: 50%;
            width: 50%;
            font-size: 1.8rem;
        }

        p {
            margin-bottom: 0.5em;

            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            border-bottom: 1px solid transparent;
            text-decoration: none;
            color: $color-black;
            font-weight: 500;
            transition: border-color 0.2s ease-in-out;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 400%;
                height: 200%;
            }
        }
        a:hover {
            border-bottom-color: $color-black;
            text-decoration: none;
        }
        span {
            padding: 0.5rem;
            border-radius: 4px;
            display: inline-block;
            font-weight: 500;
            background-color: $color-yellow;
        }
    }
    .sale-carousel__pic {
        img {
            border-radius: 5px;
            max-width: 100%;
        }
    }
}
/*----------*/
.swiper-container-sale {
    overflow: visible;
    
    .swiper-slide {
        border-radius: 5px;
        overflow: hidden;
        background-color: $color-lightgray;
    }
}